<!DOCTYPE html>
<html>
    <head>
      <title>Birthday wishes</title>
       <body>
        <div class="card" style="width: 18rem;">
            <img class="card-img-top" src="../static/images/gif 1_files/453807402black-calligraphy-happy-birthday-fireworks-wishes-animated-gif.gif" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">Birthday Wishes</h5>
              <p class="card-text"> Happy Birthday! I hope you have a great day today and the today and the year ahead is full of many blessings.</p>
              <a href="#" class="btn btn-primary">sasireka</a>
            </div>
          </div>
       </body>
